<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= form.label :borough %>
    <%= form.text_field :borough, id: :station_borough %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood, id: :station_neighborhood %>
  </div>

  <div class="field">
    <%= form.label :train %>
    <%= form.text_field :train, id: :station_train %>
  </div>

  <div class="field">
    <%= form.label :accessible %>
    <%= form.check_box :accessible, id: :station_accessible %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
